@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);












#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#slider-4 H1 {
  text-align: right;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#header3-f P {
  font-family: 'Oswald', sans-serif;
}
#header3-f H3 {
  text-align: left;
  font-family: 'Oswald', sans-serif;
}
#features1-5 .btn {
  font-family: 'Oswald', sans-serif;
}
#features1-7 .btn {
  font-family: 'Oswald', sans-serif;
}
#features1-8 .btn {
  font-family: 'Oswald', sans-serif;
}
#features1-9 .btn {
  font-family: 'Oswald', sans-serif;
}
#msg-box4-a .mbr-header__text {
  color: #000000;
}
#msg-box4-a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-a .mbr-article {
  color: #ffffff;
}
#msg-box4-a .mbr-article P {
  color: #000000;
}
#msg-box4-a .btn {
  font-family: 'Oswald', sans-serif;
}
#content5-n .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-n .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-n .mbr-article {
  color: #fff;
}
#form2-j .btn {
  font-family: 'Oswald', sans-serif;
}
#form2-j .mbr-header__text {
  font-family: 'Oswald', sans-serif;
}
#contacts3-g P {
  color: #000000;
}
#contacts3-g .btn {
  font-family: 'Oswald', sans-serif;
}
#footer1-i B {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#footer1-i P {
  text-align: left;
}
